.blackout:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	border-radius: 20px;
}
.blackout:hover:after {
	opacity: 1;
	transition-duration: 500ms;
}
.catagory-title {
	z-index: 1;
}
h5.button {
	font-size: 21px;
}